*{
    box-sizing: border-box;
    margin: 0 ;
    padding:0 ;
}


body{

    padding: 0px;
    margin: 0px;
    background-color: rgb(203,169,204);
    width: 100vw;
}

#container{
    /* border: 2px solid black; */
    width: 90%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 30px;
    height: auto;
    position: relative;
}

/* navebar section ----->>>>>*/


/* body part ----->>>> */
#bodypart{
    /* position: relative; */
    /* z-index: 1; */
    margin-top: 50px;
   
}

#container>#book{
    position: absolute;
    z-index: 2000;
    width: 65%;
    top: 18%;
    left: 17%;
   text-align: center;
   
   /* border: 2px solid red; */
}

#container>#book>h1{
    font-size: 50px ;
    color: white;
}
#container>#book>p{
    color: rgb(195, 185, 185);
    font-size: 20px;
}
#container>#book>button{
    border-radius: 15px;
    font-size: 15px;
    padding: 5px;
    background-color: rgb(246,152,103);
    color: white;
    border-color: rgb(246,152,103);
}

   
    
    
  


#bodypart> .content> img{
    display: block;
    width: 100%;
    /* margin-bottom: 0px; */
    height: auto;
    margin-bottom: -10px;
    /* margin-top: -50px; */
    
}


/* mid part ----->>>> */
#midpart{
    width: 100%;
    font-size: 25px;
    background-color: rgb(26,29,45);
    margin-top: -35px;
    margin-bottom: -26px;
    padding-top: 70px;
    
}
#midpart> .sec1{
    width: 35%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#midpart> .sec1 h1{
    color: white;
}
#midpart> .sec1 h4{
    color: rgb(106,119,179);
}
#midpart> .sec1 p{
    color:  rgb(95,97,108);
}

#midpart> .sec2{
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 40px;
    justify-content: space-around;
    /* border: 2px solid yellow; */
    margin-bottom: 25px;
}

#midpart> .sec2>div{
    text-align: center;
    background-color: rgb(28,31,48);
    margin: auto;
    width: 30%;
   
}
   

#midpart> .sec2> div>img{

    width: 10%;
    padding-top: 40px;
    
}

#midpart> .sec2> div>p{
    padding-bottom: 40px;
}

#midpart> .sec2>div:hover{
    background-color: rgb(32,36,56);
}

#midpart> .sec2 > div> h3{
    color: white;
}
#midpart> .sec2> div>p{
    color: rgb(95,97,108);
}


/* media querry part for mid section ----->>> */

/* for small screen --->>>>>     */

@media all and (max-width: 740px){
    
    #midpart> .sec2> div>img{

        width: 15%;
        padding-top: 40px;
        
    }

     #midpart> .sec2{
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            row-gap: 15px;
        }

    #midpart> .sec2>div{
        width: 50%;
    }    

     #midpart> .sec2> div> img{
    
            width: 25%;
            padding-top: 40px;
            
        }
}






/* for mediam screen --->>> */
@media all and (min-width: 741px) and (max-width: 1050px){

    
       
    
        #midpart> .sec2> div> img{
    
            width: 12%;
            padding-top: 40px;
            
        }
    
    }


    /* lower mid section ----->>> */

    #lowermid> .lowermid1{
        display: flex;
        justify-content: space-between;
        /* border: 2px solid red; */
        background-color: rgb(1,10,17);
    }

    #lowermid> .lowermid1>.lowermid1first{
        width: 40%;
        /* border: 2px solid green; */
        margin-left: 100px;
    }

    #lowermid> .lowermid1 img{
        width: 100%
        /* margin-left: 100px; */
    }


    #lowermid> .lowermid1 .minidiv{
        display: flex;
        /* border: 2px solid red; */
        width: 80%;
        justify-content: space-between;
        padding: 20px;
    }

    #lowermid> .lowermid1>.lowermid1second{
        /* border: 2px solid yellow; */
        width: 40%;
        margin-right: 150px;
        padding-top: 10%;
    }

    

    #lowermid> .lowermid1 h3{
        color: rgb(24,208,239);
    }

    #lowermid> .lowermid1 h1{
        color: white;
        font-size: 50px;
    }

    #lowermid> .lowermid1 p{
        color: rgb(95,97,108);
    }

    /* media querry for lower mid section  */

    @media all and (max-width:1390px){
        #lowermid> .lowermid1 h1{
            font-size: 35px;
        }
    }
    @media all and (max-width:1200px){
        #lowermid> .lowermid1 h1{
            font-size: 25px;
        }
    }
    @media all and (max-width:1000px){
        #lowermid> .lowermid1{
            display: grid;
            grid-template-rows: repeat(2, 1fr);
        }

        #lowermid> .lowermid1>.lowermid1first{
            margin: auto;
            /* margin-left: 200px; */
            
            width: 60%;
        }
        #lowermid> .lowermid1>.lowermid1second{
            /* margin-left: 200px; */
            margin: auto;
            width: 60%;
            padding-left: 40px;
        }
        #lowermid> .lowermid1 h1{
            font-size: 35px;
        }
    }


    
    
    
    



